<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news!</h1>
    <p>
      You have a seller, <%= @user.name %>, who is waiting to hear from you! <br>
    </p>
    <p>
      Your seller can be reached at <%= @user.phone %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
